@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    
}


.landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    max-width: 50%;
}

.landing-text h1 {
    font-size: 4rem; 
    color: #ffffff;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.landing-text h1 .icon {
    width: 60px; /* Adjust the size */
    height: auto;
    margin-right: 15px;
}

.landing-text ul {
    list-style-type: none;
    font-size: 1.8rem; 
    color: #ffffff;
    font-weight: 500;
    padding-left: 0;
}

.landing-text ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.landing-text ul li .list-icon {
    width: 40px; /* Adjust the icon size */
    height: auto;
    margin-right: 10px;
}
